In [2]:
import pandas as pd
import numpy as np

In [3]:
trust= pd.read_csv('WELLCOME_APCspend2013_forThinkful.csv', encoding = "ISO-8859-1")

In [4]:
trust.head()

,PMID/PMCID,Publisher,Journal title,Article title,COST (£) charged to Wellcome (inc VAT when charged)
0,NaN,CUP,Psychological Medicine,Reduced parahippocampal cortical thickness in ...,£0.00
1,PMC3679557,ACS,Biomacromolecules,Structural characterization of a Model Gram-ne...,£2381.04
2,23043264 PMC3506128,ACS,J Med Chem,"Fumaroylamino-4,5-epoxymorphinans and related ...",£642.56
3,23438330 PMC3646402,ACS,J Med Chem,Orvinols with mixed kappa/mu opioid receptor a...,£669.64
4,23438216 PMC3601604,ACS,J Org Chem,Regioselective opening of myo-inositol orthoes...,£685.88

In [5]:
trust.columns=['ID', 'Publisher', 'Journal_title','Article_title', 'Cost']

In [6]:
trust.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2127 entries, 0 to 2126
Data columns (total 5 columns):
ID               1928 non-null object
Publisher        2127 non-null object
Journal_title    2126 non-null object
Article_title    2127 non-null object
Cost             2127 non-null object
dtypes: object(5)
memory usage: 83.2+ KB

In [7]:
trust.isnull().sum()

ID               199
Publisher          0
Journal_title      1
Article_title      0
Cost               0
dtype: int64

#### There are missing enteries in ID and Journal_title columns.

In [8]:
trust= trust.dropna(subset=['ID','Journal_title'])

In [9]:
trust= trust.drop_duplicates()

In [10]:
trust.isnull().sum()

ID               0
Publisher        0
Journal_title    0
Article_title    0
Cost             0
dtype: int64

In [11]:
trust['Cost'] = trust['Cost'].apply(lambda x: x.split()[0].replace('$', ''))

In [12]:
trust['Cost'] = trust['Cost'].apply(lambda x: float(x.split()[0].replace('£', '')))

In [13]:
trust['Cost'].head()

1    2381.04
2     642.56
3     669.64
4     685.88
5    2392.20
Name: Cost, dtype: float64

In [15]:
trust.Cost.describe()

count      1928.000000
mean      22729.969891
std      142424.454810
min           9.930000
25%        1280.000000
50%        1868.810000
75%        2315.555000
max      999999.000000
Name: Cost, dtype: float64

#### 999999 is the number used to show the value is missing. This has affected the related statistics.

In [16]:
trust=trust[trust.Cost != 999999.0]

In [17]:
trust.Cost.describe()

count      1888.000000
mean       2025.117558
std        6392.355165
min           9.930000
25%        1268.700000
50%        1834.770000
75%        2295.777500
max      201024.000000
Name: Cost, dtype: float64

In [31]:
trust.head(5)

,ID,Publisher,Journal_title,Article_title,Cost
1,PMC3679557,ACS,biomacromolecules,structural characterization of a model gram-ne...,2381.04
2,23043264 PMC3506128,ACS,j med chem,"fumaroylamino-4,5-epoxymorphinans and related ...",642.56
3,23438330 PMC3646402,ACS,j med chem,orvinols with mixed kappa/mu opioid receptor a...,669.64
4,23438216 PMC3601604,ACS,j org chem,regioselective opening of myo-inositol orthoes...,685.88
5,PMC3579457,ACS,journal of medicinal chemistry,comparative structural and functional studies ...,2392.20

In [33]:
trust['Journal_title'].nunique()

809

### 1. The 5 most common journals/ The total number of articles for each journal

In [19]:
trust['Journal_title'] = trust['Journal_title'].str.lower()

In [20]:
trust['Journal_title'] = trust['Journal_title'].str.strip()

In [21]:
trust['Journal_title'].value_counts().head(5)

plos one                           181
journal of biological chemistry     51
neuroimage                          28
nucleic acids research              25
plos genetics                       22
Name: Journal_title, dtype: int64

In [22]:
trust['Article_title'] = trust['Article_title'].str.lower()

In [23]:
trust['Article_title'] = trust['Article_title'].str.strip()

In [26]:
trust.groupby('Journal_title').count()['Article_title'].sort_values(ascending=False).head(5)

Journal_title
plos one                                           181
journal of biological chemistry                     51
neuroimage                                          28
nucleic acids research                              25
proceedings of the national academy of sciences     22
Name: Article_title, dtype: int64

### 2. Mean / Median/ SD of the open-access cost for each journal

In [43]:
trust[trust['Journal_title'] =='plos one'].describe()

                Cost
count     181.000000
mean     1994.896022
std     14251.071638
min       122.310000
25%       852.430000
50%       897.190000
75%      1040.870000
max    192645.000000

In [44]:
trust[trust['Journal_title'] =='journal of biological chemistry'].describe()

              Cost
count    51.000000
mean   1426.778431
std     415.404372
min     265.670000
25%    1151.660000
50%    1314.530000
75%    1609.985000
max    2501.070000

In [45]:
trust[trust['Journal_title'] =='neuroimage'].describe()

              Cost
count    28.000000
mean   2230.718571
std     257.809151
min    1747.160000
25%    2114.062500
50%    2335.040000
75%    2402.625000
max    2503.340000

In [46]:
trust[trust['Journal_title'] =='nucleic acids research'].describe()

              Cost
count    25.000000
mean   1160.880000
std     447.826633
min     710.000000
25%     852.000000
50%     852.000000
75%    1704.000000
max    2184.000000

In [47]:
trust[trust['Journal_title'] =='proceedings of the national academy of sciences'].describe()

              Cost
count    22.000000
mean    793.012273
std     464.269919
min     206.320000
25%     628.490000
50%     742.045000
75%     785.157500
max    2691.680000